@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://allfont.ru/allfont.css?fonts=studioscriptctt);
@keyframes spin-custom {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(460deg);
    }
  }
  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .animate-spin-slow-open {
    animation: spin-custom 0.5s linear forwards;
  }
  .animate-spin-slow-close {
    animation: spin-reverse 0.5s linear forwards;
  }